@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --card-form-page: 350x;
        --card-form-page-md: 500x;

        --background: #fafafa;
        --foreground: #09090b;
        --card: #fafafa;
        --card-foreground: #09090b;
        --popover: #fafafa;
        --popover-foreground: #09090b;

        --primary: #18181b;
        --primary-foreground: #fafafa;
        --secondary: #f4f4f5;
        --secondary-foreground: #18181b;
        --muted: #f4f4f5;
        --muted-foreground: #71717a;
        --accent: #f4f4f5;
        --accent-foreground: #18181b;

        --success: #D3FDE5FF;
        --success-foreground: #09090b;
        --success-muted: #ECFDF3FF;
        --success-muted-border: #D3FDE5FF;
        --success-muted-foreground: #008A2EFF;

        --warning: #FDF5D3FF;
        --warning-foreground: #09090b;
        --warning-muted: #FFFCF0FF;
        --warning-muted-border: #FDF5D3FF;
        --warning-muted-foreground: #DC7609FF;

        --error: #FFE0E1FF;
        --error-foreground: #09090b;
        --error-muted: #FFF0F0FF;
        --error-muted-border: #FFE0E1FF;
        --error-muted-foreground: #E60000FF;

        --info: #D3E0FDFF;
        --info-foreground: #09090b;
        --info-muted: #F0F8FFFF;
        --info-muted-border: #D3E0FDFF;
        --info-muted-foreground: #0973DCFF;

        --border: #09090b;
        --input: #18181b;
        --ring: #18181b;
        --radius: 0.5rem;
    }

    .dark {
        --background: #18181b;
        --foreground: #fafafa;
        --card: #18181b;
        --card-foreground: #fafafa;
        --popover: #18181b;
        --popover-foreground: #fafafa;

        --primary: #fafafa;
        --primary-foreground: #09090b;
        --secondary: #fafafa;
        --secondary-foreground: #09090b;
        --muted: #27272a;
        --muted-foreground: #a1a1aa;
        --accent: #fafafa;
        --accent-foreground: #212123;

        --success: #59F3A6FF;
        --success-foreground: #09090b;
        --success-muted: #001F0FFF;
        --success-muted-border: #003D1CFF;
        --success-muted-foreground: #59F3A6FF;

        --warning: #F3CF58FF;
        --warning-foreground: #09090b;
        --warning-muted: #1D1F00FF;
        --warning-muted-border: #3D3D00FF;
        --warning-muted-foreground: #F3CF58FF;

        --error: #FF9EA1FF;
        --error-foreground: #09090b;
        --error-muted: #2D0607FF;
        --error-muted-border: #4D0408FF;
        --error-muted-foreground: #FF9EA1FF;

        --info: #5896F3FF;
        --info-foreground: #09090b;
        --info-muted: #000D1FFF;
        --info-muted-border: #00113DFF;
        --info-muted-foreground: #5896F3FF;

        --border: #fafafa;
        --input: #f4f4f5;
        --ring: #f4f4f5;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background text-foreground;
        /* font-feature-settings: "rlig" 1, "calt" 1; */
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
}

@layer utilities {
    .step {
        counter-increment: step;
    }

    .step:before {
        @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
        @apply ml-[-50px] mt-[-4px];
        content: counter(step);
    }

    .chunk-container {
        @apply shadow-none;
    }

    .chunk-container::after {
        content: "";
        @apply absolute -inset-4 shadow-xl rounded-xl border;
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}
